.footer-bottom {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 30px;
}

.footer-logo {
  color: #f45800;
  font-family: "Merriweather", serif;
  font-size: 28px;
}

.footer-slogan {
  align-items: center;
  text-align: center;
  display: flex;
  font-weight: 300;
  font-size: 11px;
}

.footer-left {
  width: 22%;
  display: flex;
  justify-content: space-between;
}

.footer-right {
  display: flex;
  align-items: center;
}

.footer-credit {
  font-weight: 300;
  font-size: 15px;
}

.footer-top {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  align-items: center;
  min-height: 100px;
}

.footer-top-list {
  font-size: 14px;
  font-family: Helvetica;
  font-weight: 600;
}

.footer-top-list a {
  color: black;
  font-size: 13px;
  font-weight: normal;
  display: block;
  padding-top: 10px;
  text-decoration: none;
}

.footer-top-list a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer {
  margin-top: 100px;
}
