.header-nav-right {
  display: flex;
  justify-content: space-between;
  width: 30%;
  align-items: center;
  font-size: 14px;
}

.header-nav-left {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-around;
}

.header-nav-form {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding-top: 20px;
  margin: auto;
  align-items: center;
}

.header-nav-right li {
  list-style: none;
}

.header-nav-right li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header-discover-li {
  display: flex;
  flex-direction: column;
  color: #666666;
  align-items: center;
  padding: 5px;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

.header-sign-in-li {
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
}

.header-sign-in-li:hover {
  color: white;
  background-color: black;
  text-decoration: none !important;
}

.header-cart-li {
  display: flex;
  flex-direction: column;
  color: #666666;
  align-items: center;
}

.header-search-input {
  max-height: 15px;
  min-width: 155px;
}

.kings-logo {
  color: #f45800;
  font-family: "Merriweather", serif;
  font-size: 36px;
}
