.shopping-cart {
  text-decoration: none;
  color: black;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  font-size: 25px;
  font-weight: 500;
  padding: 40px 0;
}

.cart-items-container {
  width: 62%;
  margin: auto;
  border-right: 1px solid lightgray;
  padding-right: 20px;
  margin-top: 20px;
}

.single-cart-item {
  display: flex;
  border-radius: 3px;
  border-bottom: 1px solid lightgray;
  margin-top: 30px;
  padding-bottom: 30px;
}

.single-cart-item-photo {
  width: 130px;
  height: 100px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  object-fit: scale-down;
}

.remove-from-cart {
  background: none;
  color: #f45800;
  border: 1px solid #f45800;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
  padding: 5px 9px 7px 9px;
  height: 30px;
  width: 80px;
}

.cart-item-info {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: 20px;
  width: 65%;
}

.cart-quantity {
  background-color: white;
  -webkit-appearance: menulist-button;
  border: 1px solid #b1adab;
  border-color: rgba(0, 0, 0, 0.15);
  height: 22px;
  width: 50px;
  height: 35px;
  font-size: 14px;
  text-indent: 4px;
}

.cart-item-info-ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.cart-section {
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin-top: 30px;
  width: 70%;
  margin: auto;
}

.checkout-section {
  width: 30%;
  padding-right: 10px;
}

.total-price {
  display: flex;
  justify-content: space-between;
  margin: 45px 45px 25px 5px;
}

.checkout {
  width: 95%;
  padding: 15px 20px;
  font-size: 16px;
  color: white;
  background: black;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.cart-item-description {
  width: 50%;
}

.item-total-price {
  font-size: 20px;
}

.item-ind-price {
  font-size: 13px;
  font-weight: 100;
  color: gray;
  margin-top: 5px;
}

.keep-shopping {
  background-color: #fff;
  color: #222;
  font-weight: bold;
  height: 28px;
  padding: 4px 12px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.single-cart-item-description {
  text-decoration: none;
  color: black;
  width: 50%;
}
